#header {
    text-align: center;
}

div {
    position: relative;
    overflow: hidden;
  }
  input {
    opacity: 0;
  }

  .button {
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: table;
  }
  
.img {
  position: relative;
    width: 20%;
    height: 0;
    padding-bottom: 20%;
  }