#header {
    text-align: center;
}

.select {
  position: relative;
  padding-top: 100px;
  width: 100%;
  height: 200px;
}

#upload {
  position: relative;
  padding-top: 100px;
  width: 100%;
  height: 200px;
}


.select, input {
  text-align: center;
}

#upload, button {
  text-align: center;
}

  input {
    opacity: 0;
  }
