<!DOCTYPE html>


<head>

</head>
<body>
<div id="header" style="margin-top: 5%;">
  <h1>Bild hochladen</h1>
  <h2>{{userService.getUser().name}}! Lade deine unvergesslichen Momente hoch</h2>
</div>


<modal #errorModal>
  <p style="color: red">{{modalErrorText}}</p>
</modal>

<div id="settings" [hidden]="!modal_show">
  <div id="id01" class="modal">
    <div class="modal-content animate">
      <div class="container">
        <h4 id="user" style="padding-bottom: 5px;">Einstellungen</h4>
        <div class="form-group">
          <label for="imgtitle"><b>Titel<span style="color: red ">*</span></b></label>
          <input type="text" class="form-control" id="imgtitle" placeholder="Mein Hund...., Mein Zuhause...">
          <small class="form-text text-muted">Da der Titel für jeden einsehbar ist, sollte dieser Aussagekräftig sein
            und keine anstößigen Wörter beinhalten.</small>
        </div>

        <div class="form-group">
          <label for="imgtitle"><b>Beschreibung</b></label>
          <textarea class="form-control" id="imgdesc" style="resize: none" rows="5"></textarea>
          <small class="form-text text-muted">Mit der Beschreibung kannst du dein Bild optional noch besser beschreiben!</small>
        </div>

        <div class="container">
          <label for="tagscontainer">
            <b>Tags<span style="color: red ">*</span></b><br>
            <small class="form-text text-muted">Mit Tags kannst du kurz beschreiben, was auf deinen Bild zu sehen ist. Andere User die speziell nach <b>ähnlichen oder gleichen Themen</b> suchen, werden deine Bilder vorgeschlagen!<span style="color: red">Der Missbrauch führt unwiederuflich zur Löschung des Kontos.</span></small>
          </label>
          <!-- https://angular.io/api/common/NgForOf -->
          <div id="tagscontainer">
            <div *ngFor="let tag of tags; index as i;">
              <span class="tag">{{tag}} <span style="background-color: crimson; padding: 0 5px 0 5px; color: #ffffff; border-radius: 20px; cursor: pointer" (click)="removeTag(i)">Entfernen</span></span>
            </div>

            <span class="tag add" [hidden]="currentTags >= maxTags">
              <input type="text" #inputTag size="{{textBoxSize}}" (input)="resize($any($event.target).value)"  maxlength="10" >
              <input type="submit" class="btn btn-primary btn-sm" style="color: #00aeff" value="Hinzufügen" (click)="addTag()">
              <p style="float: left; text-align: center; color: #00aeff">Noch {{maxTags-currentTags}}.</p>
            </span>
          </div>
        </div>
      </div>

      <div class="container">
        <input type="checkbox" id="privacy">
        <label for="privacy">Ich bestäige dass ich die<span><a
          href="http://www.pngmart.com/files/11/Trollface-Meme-PNG-Picture.png" target="_blank">Datenschutzrichtlinien</a> und die <a
          href="http://www.pngmart.com/files/11/Trollface-Meme-PNG-Picture.png" target="_blank">AGBs</a></span> gelesen und
          einverstanden bin.</label>
      </div>

      <div>
        <span style="color: red ">*</span> Pflichtfelder
      </div>

      <div class="container">
        <button type="button" class="btn btn-primary mb-2"
                (click)="onUpload(uploadModal); modal_show = false">Hochladen
        </button>
      </div>
    </div>
  </div>
</div>

  <modal #uploadModal [button]="false" [message]="true" [messageLevel]="3">
    Dein Bild wird hochgeladen...
  </modal>


<div class="select">
  <input
    style="display: none"
    type="file" (change)="onFileChanged(fileInput.files)"
    #fileInput>
  <button (click)="fileInput.click()" class="btn btn-primary btn-lg">File auswählen!</button>
</div>

<div id="upload">
  <p style="color: gray; opacity: 0.5">{{file_name}}</p>


  <button (click)="openSettings()" [disabled]="uploadDisabled" class="btn btn-primary btn-lg" >Upload!</button>
</div>
</body>
