<!DOCTYPE html>


<head>

</head>
<body>
<div id="header" style="margin-top: 5%;">
  <h1>Bild hochladen</h1>
  <h2>Lade deine unvergesslichen Momente hoch</h2>
</div>

<div class="select">
  <input
    style="display: none"
    type="file" (change)="onFileChanged($event)"
    #fileInput>
  <button (click)="fileInput.click()">Select File</button>
</div>

<div id="upload">
  <p style="color: gray; opacity: 0.5">{{file_name}}</p>
  <button (click)="onUpload()" class="btn btn-primary btn-lg">Upload!</button>
</div>




</body>
