<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anmelden</title>
</head>
<body>

    <div id="header" style="margin-top: 5%;">
        <h1>Jetzt Anmelden</h1>
        <h2>Um alle Features nutzen zu können!</h2>
    </div>
    <hr>

    <modal #modal (closeAction)="router.navigate(['/'])">
        <div>
          <h3 id="user">Willkommen zurück, {{userService.isLoggedIn() ? userService.getUser().name : ""}}!</h3>
          <h3>Du wurdest erfolgreich angemeldet!</h3>
        </div>
    </modal>

    <modal #resetPassword message="true" (closeAction)="router.navigate(['/'])">
      <div>
        Sollte deine E-Mail Adresse zu einem Konto gehören, wurde dir eine E-Mail geschickt.
      </div>

    </modal>

    <div class="login-form">
        <form>
            <div class="form-group row">
                <label for="inputusername" class="col-sm-2 col-form-label">E-Mail</label>
                <div class="col-sm-4">
                  <div class="error" id="error_username">{{emailMessage}}</div>
                  <input #eMail type="email" class="form-control" id="inputusername" required minlength="8" maxlength="30" [ngStyle]="{'border': '2px solid ' + emailBorderColor}">
                </div>
              </div>
              <div class="form-group row" style="size: 30px;">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-4">
                  <div class="error" id="error_password">{{passwordMessage}}</div>
                  <input #pass type="password" class="form-control" id="inputPassword" minlength="8" maxlength="30" required [ngStyle]="{'border': '2px solid ' + passwordBorderColor}">
                </div>
              </div>
              <button type="submit" style="margin-right: 3%" (click)="login(eMail, pass, modal)">Jetzt Anmelden</button>
          <button type="submit" (click)="forgotPassword(eMail, resetPassword)">Passwort vergessen?</button>
        </form>
    </div>

</body>
</html>
