#header {
    text-align: center;
}
.login-form {
    position: relative;
    padding-top: 5%;
    text-align: center;
    max-width: 50%;
    margin: auto;
    height: 50px;
}

form {
    position: relative;
    margin: auto;
    position: absolute;
    left: 25%;
    width: 75%;
    text-align: center;
}

#inputusername {
  position: absolute;
  left: 50%;
  transform: translate(0,5px);
}
#inputPassword {
  position: absolute;
  left: 50%;
  transform: translate(0,8px);
}

.error {
  text-align: left;
  font-size: 12px;
  color:red;
  width: 100%;
  position: absolute;
  transform: translate(110px,40px);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
  }

  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    width: 50%;
  }

  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 100px;
  }

  button:hover {
    opacity: 0.8;
  }

  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }

  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }

  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }

  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }


form button {
    background-color: #0349fc;
    border: none;
    width: 200px;
    height: 50px;
    animation: loginbutton 3s linear 1s infinite alternate;
   transform: translate(0,50px);
    box-shadow: 0 10px 15px rgba(145, 92, 182, .3);
}

@keyframes loginbutton {

    0%, 100% {
        background-color: #0349fc;
    }
    50% {
        background-color: #668df2;
    }
}
