<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Forgot your password? Let's get a new one for <%= username %></h1>
    <hr>
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto;">
        <tr>
            <td style="border-radius: 3px; background: black; text-align: center;">
                <a href=<%= link %>
                    style="background: #197a94; border: 15px solid #197a94; font-family: tahoma; font-weight: 900; letter-spacing: 2px; font-size: 16px; line-height: 60px; text-align: center; text-decoration: none; display: block; border-radius: 3px; font-weight: 900; text-transform: uppercase;">
                    &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#ffffff">Reset your
                        Password</span>&nbsp;&nbsp;&nbsp;&nbsp;
                </a>
            </td>
        </tr>
    </table>

</body>

</html>

<style>
    h1 {
        text-align: center;
    }
</style>