<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Reset Password for <%= username %> </h1>
    <form action="" method="POST">
        <label for="password" class="lab">Password</label>
        <input type="password" name="password" id="password">
        <br />
        <label for="password2" class="lab">Confirm Password</label>
        <input type="password" name="password2" id="password2">
        <br />
        <input type="submit" value="Reset Password">
    </form>
    <form action="https://google.com">
        <input type="submit" value="Go to Google" />
    </form>
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAeFBMVEX///8AAADDw8OOjo5kZGS9vb0nJyfb29scHBywsLDR0dE9PT0TExPLy8stLS1hYWF1dXWHh4dMTEy2trbo6Oju
    7u75+fmfn5+UlJTd3d2lpaX09PRXV1fAwMBubm44ODiAgIBDQ0MgICBQUFAxMTELCwtxcXF6enovDF8yAAAGuElEQVR4nO2a6XaqMBRGCYooCg6g4Dy2vv8bXiEDGSlU217X+vaP20uIwDbJyUnE8wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAAAAAAAAD4L0hJJ/Z//bydSUm6Dluyjgnx//qBuxJ0aZQVOUzezTAgQfvKK7Lz3q0N990Er967GfokbV95RRbeuxnGnVrw41z+eSvDmPTjoC3+oBJ8L8MeSYZtuZAP+iGbYTQq5vNi42fseLXdrn7NooneoUPldED/GobpTkoHPqup5/GfxWse0WSf5+0r9/odrj
    yyG5oJ0XwblX9+pBHDeXnp9vWfN1wtbHndoPynQwxrRRZvDvTyk/Yfetpw2ZC+dhkBLYjqK/+i4UrcdDqKwtDPp7Jih2u34G8Mr+yW46UoSgfiQWLpw6sse3Jc/onhnt1RDZv+hUccqTAnXZInG8tNcf2+YdwwnMSTmoa8ubb6Zc1u2n9J5Am+bRiRMHoQDnqRQbjo0UqGYcjHoHFd
    NoOs6xLymtj6hCH9m4wslfouw4IZFuZnRtoJ/0WGxx8xnLoMd25Dr5qYb+Jw9yLD8e8a8mFoDVfn8gwPsVV/fkNDHjONSFOyLU/wBDJ5U8MjNzzarh2T84YtNfrkTQ0PYj6xbk7xLrpkqat1vytbZ7YeQFk9zqolkmE0Xkice/ZLPGc4kubMj15s+ehDrxCJ3GlUUU/8/iefbmy3jU6
    T6uTlFFkNtTn88ycMV+o9yHjuG+1h5hJDdmajlM61z4VH6eRFdJFfNqRTgsrlniodKzJqJFV5NtDLQ+XBtJM8XEuG4WIi17BNWc8behNi5TMVWbbZhhNFfHcQGwRSJOqzokPvzgL2wjB8sEzoyWEuZU+vNczshuWTs0rbMvGjRTlLAz2R7yV0hPnsixIjeUaP6X19ejC3GLKcoymlf9aw
    QZFM6hvrbcQGcJ3P0gfn8yrLavlkyrrB0jSshvLNHYtfYShPGQZnfm/dkMbQYX0RpryTq1/FWUlYMay+iXOT30sMvXWD49pqmOnG1fKxpIo2hfT/ChpWD7rhqYXgSwwfLTC6EgdLm+GdHsuXYPs9h7r2oD45rAr6muFCbegfNSwlg5nV8GYzpIfqw02ENYssUo5yrgoKxTCrrX/HsGSdW3YW
    A9OQhVZ1jmfzQ8w6n/IzLI08W9mQLfY3v2tY4p+0KfJqGm5sT8em+Ec4udH/yXnDY5Te6JCmhgO+9iZa2trC0Da1ONf4drL8JiuahmwYqrdi2jNe2bFjPta6yM1aq8Hwtpsb9JJuhg/Cc/0MoWE4VQ8pbA7c0XUlcW226oauZM1lmJP7zOB+6WxYb+HQREVV2tkM2cbkQuQQXxhO+Jf4RT9VD
    XMS2Sr1nbuJmb4iqLnzRwkMw6mtl8bckP9O0Gx4F239RT9VDDd2QW/qMNyfG4IZf4CqsmrIVoVqUGNzxLRdLw29evXV3E9lQ5eg0zB3P4jHp2ma1qiGrAerPwKycXgSkWbp2ZBzmlb9VDIcEfsi3W1YjZiZ69J8BesZhmwuU3t4LhqWfdD+dcuGvD8n7QwDp6DTkDaTK+yw2+9Mw6V0RnAX
    LX6yNbHNsFU/rQ1dXdRriDTzhk7Cl7hpbShCS2IZaQNRxkakPaVWV0+8nzrXv4phAy7DqGEc8ATOqw1FaGHfvbxtsZRag9guu7KsnkQ/HXhOuOE2Nn+RqVlrhmJbkN3Ask3I58NAqld3Jnp8N+tXuSdL4NTfe8bUq25q+btq6Kff+f0wqfd/+cqwrwc+vkU1lY3qgbfRW2krPyjfwpMnzDJLm
    HlmoGUd3h1EvmF4k0JXIDpyXw44Ad9H472HHVZ9oRrvtLN9iP2Ho1Kdv90huvX2zBqORaH6FQGxJ+faUO9ueJT7vLJhepwVmzQd5X1RMuDZM98UPm0eC6xU+iB14DtRomX4WvNaNU1Gu/A6S+vV2XFUfl2Z9KbLIrXGg86G44tSZH3VhFMPJF8pL0uWH+xgvDvzcukJ629pyPtDGBKVvaeX2J
    Yj3QwT76wK0gEV21+ilvuN8ooGTeR3WvWF8ny5djZZGvHeb2fY6a2v226oFVVpTSlv7GBrE/bBPOMnUvWBHo8z5Rso01/dsGUbJkWvLcWU6IKPXnsb0AAYFvXSLZmboS2ijspvMGFBe/miZ0s3spzubx1P9GrbWGVplFgu4o36XTh88UZMFvnBPnYnGNat2+Zr/idvOAIAAAAAAAAAAAAAAAAAAAAAAAA
    AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADQjn8vY1TEIBA1xAAAAABJRU5ErkJggg==">


    <!-- Button : Begin -->
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto;">
        <tr>
            <td style="border-radius: 3px; background: #a52023; text-align: center;">
                <a href="http://www.google.com"
                    style="background: #a52023; border: 15px solid #a52023; font-family: tahoma; font-weight: 900; letter-spacing: 2px; font-size: 16px; line-height: 60px; text-align: center; text-decoration: none; display: block; border-radius: 3px; font-weight: 900; text-transform: uppercase;">
                    &nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#ffffff">Get Free Workwear</span>&nbsp;&nbsp;&nbsp;&nbsp;
                </a>
            </td>
        </tr>
    </table>
    <!-- Button : END -->


</body>

</html>
<style>
    body {
        background-color: blue;
    }

    h1 {
        color: chartreuse;
    }

    img {
        width: 100px;
        height: auto;
    }
</style>